<!--<form class="form-horizontal">-->
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="nameID" placeholder="Enter your name" style="width:70%">
    </div>
  </div>
  <br><br>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="username" placeholder="Enter your Username" style="width:70%">
    </div>
  </div>
  <br><br>  
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="emailID" placeholder="Enter you Email" style="width:70%">
    </div>
  </div><br><br>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="addressID" placeholder="Enter your Address [This field is validation free]" style="width:70%">
    </div>
  </div>
<!--</form>-->
<div style="text-align:right">
  <button type="button" class="btn btn-info" (click)="addToList()">Add</button>
  <button type="button" class="btn btn-warning" (click)="resetForm()">Reset Forms</button>
</div>
  