<
<div style="background-color:lavender;font-family:'Times New Roman', Times, serif">
  <div class="" style="background-color:white;padding:20px;margin-left:20px;margin-right:20px;">
    <ul class="nav nav-tabs">
      <li role="presentation"><a routerLink="/" class="glyphicon glyphicon-align-justify">User List</a></li>
      <li role="presentation"><a routerLink="/user_registration" class="glyphicon glyphicon-plus-sign">Registration Form</a></li>
    </ul>
    <router-outlet></router-outlet>
  </div> 
</div>
>
