<div class="container">
    <table class="table table-bordered table-striped">
    <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Address</th>
    </tr>

    <tr *ngFor="let u of data">
    <td>{{ u.name }}</td>
    <td>{{ u.username }}</td>
    <td>{{ u.email }}</td>
    <td>{{ u.address.street }}</td>
    </tr>
    </table>
</div>